node_modules/
npm-debug.log
ideas/
dump.rdb
.vscode/
public/*
coverage/
.nyc_output/
upload/*
!upload/.gitkeep
mlab/
WAMP-demo/wf-engine-mock/.crossbar/key.priv
WAMP-demo/wf-engine-mock/.crossbar/key.pub
WAMP-demo/wf-engine-mock/.crossbar/node.pid

